.imgD-box {
	margin: 0;
	padding: 0;
	--w: min(98%, 400px);
	width:  var(--w);
	position: relative;
	left: calc(50% - var(--w) / 2);
	border-radius: 10px;
	background: linear-gradient(30deg, yellowgreen, gold);
}

.imgD-form{
/*	background: red;*/
	padding: 20px;
}

.imgD-h2 {
/*	background: green;*/
	padding: 5px 20px;
	border-left: 4px solid blue;
	margin: 0;
	margin-bottom: 10px;
}

.input-box {
/*	background: red;*/
	border-radius: 5px;
	height: 40px;
	padding: 0;
	display: flex;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 0 5px #333;
	margin: 10px 0;
}

.input-box > input {
	border: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	background: 0;
	outline:none;
	font-size: 1rem;
}

.imgD-icon {
/*	background: green;*/
	height: 100%;
	padding: 0 5px;
}


.add-url , .imgD-submit {
	padding: 5px 15px;
	display: inline-block;
	border: 0;
	border-radius: 5px;
	margin-right: 10px;
	box-shadow: 0 4px 0px #aaa;
	font-size: 1rem;
	user-select: none;
}

.add-url:active , .imgD-submit:active {
	box-shadow: 0 1px 0px #aaa;
	transform: translateY(3px);
}

